html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  max-height: 500px;
  overflow: hidden;
  position: relative;
}

.img-flex {
  display: block;
  width: 100%;
}

.btn-big {
  display: inline-block;
  border-radius: 8px;
  padding-top: .4em;
  padding-bottom: .4em;
  padding-left: .4em;
  padding-right: .4em;
}

.btn {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
}

.banner-content {
  position: absolute;
  max-width: 50em;
  width: 100%;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.image {
  float: left;
}

.writings {
  float: right;
}

.banner-content h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
}

.banner-content p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.btn:hover {
  color: #fff;
}
